:root {
  --bg-primary: rgb(247, 247, 244);
  --bg-secondary: #cccccc;
  --accent-color: #000000;
  --text-primary: #26251e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

body {
  background-color: var(--bg-primary);
}

.header {
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 52px;
  /* width: 1480px; */
  display: flex;
  align-items: center;
  background-color: var(--bg-primary);
}

.header__container {
  margin: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 95px;
  height: 23px;
}

.logo__img {
  width: 100%;
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.links__link {
  font-size: 16px;
}

.btn {
  border: 1px solid #26251e76;
  padding: 4px 8px;
  border-radius: 15px;
}

.btn--download {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}

.main {
  margin-top: 52px;
  padding: 112px 20px;
}

.hero {
  margin: 0 90px;
}

.hero__title {
  width: 55%;
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 500;
}

.btn--cta {
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.hero span {
  background-color: var(--text-primary);
  color: var(--bg-primary);
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  width: 15px;
}

.hero__img {
  margin-top: 60px;
  border-radius: 5px;

  img {
    width: 100%;
    border-radius: 5px;
  }
}

/* logos */

.logos {
  margin: 134px 90px 0 90px;
}

.logos__title {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: rgb(38, 37, 30);
}

.logos__img {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 241, 237);
  /* border: 1px solid rgb(38, 37, 30); */
  border-radius: 6px;
  height: 100px;
  img {
    width: 70px;
    background-color: rgb(242, 241, 237);
  }
}

.logos__container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* Feature One */

.featureOne {
  margin: 134px 90px 0 90px;
  display: flex;
  align-items: center;
  background-color: rgb(242, 241, 237);
  padding: 20px;
  column-gap: 100px;
  border-radius: 6px;
}

.featureOne__title {
  font-size: 22px;
  background-color: inherit;
  font-weight: 500;
  margin-bottom: 5px;
}

.featureOne__desc {
  font-size: 22px;
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
  background-color: inherit;
  padding-bottom: 20px;
}

.featureOne__left {
  width: 50%;
  background-color: inherit;
}

.featureOne__link {
  background-color: inherit;
  display: flex;
  color: rgb(248, 78, 0);
  align-items: center;
  column-gap: 5px;
  font-weight: 500;
}

.featureOne__right {
  border-radius: 6px;
  img {
    width: 100%;
    border-radius: 6px;
  }
}

/* Feature two */

.featureTwo {
  margin: 134px 90px 0 90px;
  display: flex;
  align-items: center;
  background-color: rgb(242, 241, 237);
  padding: 20px;
  column-gap: 90px;
  border-radius: 6px;
  font-weight: 500;
}

.featureTwo__title {
  font-size: 22px;
  background-color: inherit;
  margin-bottom: 5px;
  font-weight: 500;
  margin-bottom: 5px;
}

.featureTwo__desc {
  font-size: 22px;
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
  background-color: inherit;
  padding-bottom: 20px;
}

.featureTwo__right {
  width: 50%;
  background-color: inherit;
}

.featureTwo__link {
  background-color: inherit;
  display: flex;
  color: rgb(248, 78, 0);
  align-items: center;
  column-gap: 5px;
  font-weight: 500;
}

.featureTwo__left {
  border-radius: 6px;
  img {
    width: 100%;
    border-radius: 6px;
  }
}

/* Feature three */

.featureThree {
  margin: 134px 90px 0 90px;
  display: flex;
  align-items: center;
  background-color: rgb(242, 241, 237);
  padding: 20px;
  column-gap: 60px;
  border-radius: 6px;
}

.featureThree__title {
  font-size: 22px;
  background-color: inherit;
  font-weight: 500;
  margin-bottom: 5px;
}

.featureThree__desc {
  font-size: 22px;
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
  background-color: inherit;
  padding-bottom: 20px;
  font-weight: 500;
}

.featureThree__left {
  width: 60%;
  background-color: inherit;
}

.featureThree__link {
  background-color: inherit;
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: rgb(248, 78, 0);
  font-weight: 500;
}

.featureThree__right {
  border-radius: 6px;
  img {
    width: 100%;
    border-radius: 6px;
  }
}

/* Testimonials */
.testimonials {
  margin: 134px 90px 0 90px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.testimonials__title {
  text-align: center;
  font-size: 36px;
}

.testimonials__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.testimonials__card {
  background-color: rgb(242, 241, 237);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 426px;
  height: 330px;
  border-radius: 4px;
  column-gap: 50px;
}

.testimonials__testimonial {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: -0.2px;
  color: rgb(38, 37, 30);
}

.user {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 10px;
}

.user__data {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.user__img {
  width: 42px;
  height: 42px;
  border-radius: 4px;
}

.user__job {
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
}

/* stories */

.stories {
  margin: 134px 90px 0 90px;
}

.stories__title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.stories__container {
  display: flex;
  column-gap: 10px;
}

.stories__card {
  padding: 17px;
  background-color: rgb(242, 241, 237);
  max-width: 426px;
  /* height: 560px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  border-radius: 4px;
}

.stories__img {
  border-radius: 4px;
  width: 100%;
}

.stories__subtittle {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.stories__desc {
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}

.stories__link {
  text-decoration: none;
  color: rgb(245, 78, 0);
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

/* changelog */

.changelog {
  margin: 134px 90px 0 90px;
}

.changelog__title {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

.changelog__container {
  display: flex;
  margin-bottom: 20px;
  column-gap: 10px;
}

.changelog__card {
  background-color: rgb(242, 241, 237);
  padding: 20px;
  border-radius: 4px;
}

.changelog__subContainer {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
}

.changelog__version {
  border: 1px solid oklab(0.263084 -0.00230259 0.0124794 / 0.6);
  padding: 3px 8px;
  border-radius: 10px;
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
}

.changelog__date {
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
}

.changelog__data {
  font-weight: 500;
  font-size: 16px;
}

.changelog__link {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: rgb(248, 78, 0);
  font-weight: 500;
}

/* team */

.team {
  margin: 134px 90px 0 90px;
}

.team__title {
  width: 52%;
  font-size: 36px;
}

.team__cta {
  margin: 25px 0 40px 0;
  display: flex;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--accent-color);
  color: var(--bg-primary);
  align-items: center;
  column-gap: 5px;
  border: none;
  border-radius: 40px;
}

.team__img {
  width: 100%;
}

/* final */

.final {
  margin: 134px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final__title {
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 30px;
}

.final button {
  padding: 15px 20px;
  border-radius: 30px;
}

/* footer */

.footer {
  background-color: rgb(242, 241, 237);
}

.footer__containerOne {
  display: flex;
  justify-content: flex-start;
  column-gap: 150px;
  padding: 80px 90px;
}

.footer__title {
  font-size: 14px;
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
}

.footer__item {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.footer__containerTwo {
  padding: 0 90px 50px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.copyright__left,
.copyright__right {
  color: oklab(0.263084 -0.00230259 0.0124794 / 0.6);
  font-size: 14px;
  font-weight: 500;
}

.footer__containerThree {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.modes {
  background-color: rgb(230, 229, 224);
  /* padding: 6px 15px; */
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modes__mode {
  padding: 6px 10px;
  margin: 2px;
  border-radius: 13px;
  display: flex;
  align-items: center;
}

.modes__mode--active {
  background-color: oklab(0.263084 -0.00230259 0.0124794 / 0.1);
}

.language {
  background-color: rgb(230, 229, 224);
  padding: 6px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}

.language__text {
  font-size: 14px;
  font-weight: 500;
}
